<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
      <li><a href='/auth/github'>GitHub</a> <br /> </li>
      <li><a href='/auth/twitter'>twitter</a> <br /> </li>
      <li><a href='/logout'>logout</a> <br /> </li>
    </ul>
  </body>
</html>
